<div id="<%= dom_id category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emojie:</strong>
    <%= category.emojie %>
  </p>

  <div class="inline-block ml-2">
    <%= button_to 'Supprimer la categorie', list_category_path(list, category), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>

  <%= link_to 'Modifier la categorie', edit_list_category_path(list, category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
</div>
